extends layout-home
block content
    .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .page-header.text-center
            a(href="/installs", title='Página inicial')
              img(src="/theme/images/logo.png", width='48')
            h1=title
    .row
        .container
            .jumbotron
                .row
                    .col-xs-6.col-md-6
                        a.thumbnail.text-center(href='/ui')
                            img.img-responsive(src="/theme/images/interface.png")
                            h2 Interface
                    .col-xs-6.col-md-6
                        a.thumbnail.text-center(href='/installs')
                            img.img-responsive(src="/theme/images/installs.png")
                            h2 Installs

    .container
        .row
            h2.centered.mb
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-6
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-6
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.