doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='author', content='Ricardo Mendes ricardo.mendes@ua.pt')
    meta(name='description', content='Smart*')
    meta(name='keywords', content='Smart*')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel="icon" href="/img/favicon.ico")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/theme/css/theme.css')
    link(rel='stylesheet', href='/css/login.css')
    //link(href="/css/style.css" rel="stylesheet")
  body
    .container.container-fluid
      block content

    //Footer
    .row.centered#footer
      .container
        hr
        .col-md-8.col-md-offset-2
          ul.links.text-center
            li
              a(href='#')
                i.ion-social-facebook
            li
              a(href='#')
                i.ion-social-twitter
            li
              a(href='#')
                i.ion-social-googleplus
            li
              a(href='#')
                i.ion-university
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/bootstrap.min.js')