extends ../layout-home
block content
    .container
        .row
            .col-md-12
                form(action="update" method="POST" class="edit")
                    .form-group
                        h2 editing a Equipment
                        .form-group(style="width: 400px;")
                            label Name
                            input(value=equipment.name name="name" type="text" class="form-control")
                        .form-group(style="width: 400px;")
                            label Description
                            input(value=equipment.description name="description" type="text" class="form-control")
                        .form-group(style="width: 400px;")
                            label Position
                            input(value=equipment.position name="position" type="text" class="form-control")
                        .form-group(style="width: 400px;")
                            label IP
                            input(value=equipment.ip name="ip" type="text" class="form-control")
                    input(type="submit" value="Update" class="btn btn-default")
                a(href="../../equipments" class="btn btn-danger") Cancel