extends ../layout-home
block content
    .container
        .row
            .col-md-12
                form(action="create" method="POST" role="form" class="new")
                    .form-group
                        h2 Create a Equipment
                        .form-group(style="width: 400px;")
                            label Name
                            input(name="name" type="text" class="form-control")
                        .form-group(style="width: 400px;")
                            label Description
                            input(name="description" type="text" class="form-control")
                        .form-group(style="width: 400px;")
                            label Position
                            input(name="position" type="text" class="form-control" value="[ 40.63103471011476, -8.658493600549377 ]")
                        .form-group(style="width: 400px;")
                            label IP
                            input(name="ip" type="text" class="form-control")
                    input(type="submit" value="Submit" class="btn btn-default")
                a(href="equipments" class="btn btn-danger") Back to list